# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Virtual Environments
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

readme.txt

__pycache__/
*.pyc
