asgiref
certifi
cffi
charset-normalizer
colorama
contourpy
cryptography
cycler
defusedxml
diff-match-patch
Django
django-allauth
django-import-export
et_xmlfile
fonttools
gunicorn
idna
joblib
kiwisolver
matplotlib
narwhals
numpy
oauthlib
openpyxl
packaging
pandas
pillow
plotly
pycparser
PyJWT
PyMySQL
pyparsing
python-dateutil
python-decouple
python3-openid
pytz
qrcode
razorpay
reportlab
requests
requests-oauthlib
scikit-learn
scipy
seaborn
setuptools
six
social-auth-app-django
social-auth-core
sqlparse
tablib
threadpoolctl
tzdata
urllib3
whitenoise
